.main_register {
    background-image: url("../../images/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #00000083;
    height: 100vh;
}

.register_left img {
    width: 100%;
    height: 100%;
}

.register_right {
    width: 100%;
    margin-top: 80px;
    background-color: white;
    padding: 16px 48px 0 48px;
    border-radius: 10px;
}

.register_right_inner p {
    font-size: 20px;
    padding: 7px 0 5px 0;
}

.register_right_inner input {
    width: 100%;
    border: 1px solid #656ED3;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 25px;
}

.register_right_inner input:focus {
    outline: none;
}

.register_right_inner .password-input-container {
    position: relative;
}

.register_right_inner .password-icon {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.register_right_inner .password-icon:hover {
    color: #000;
}

.register_right .register_btn {
    background-color: #656ED3;
    width: 100%;
    border-radius: 25px;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
  }
  

@media (max-width: 1399px) {
    .register_right {
        margin-top: 10px;
    }
}
@media (max-width: 991px) {
    
}

@media (max-width: 450px) {
    .main_register {
        height: 100%;
        background-color: white;
    }
    .register_right {
        width: 100%;
        padding: 10px 5px 0 5px;
    }
    .register_right_inner .register_btn {
        margin-top: 20px !important;
    }
    .register_right_inner p {
        padding-bottom: 0 !important;
    }
}


.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }