footer {
    background-color: black;
    padding: 90px 0;
}

.footer_right {
    color: #A0A0A0;
}

@media (max-width:576px) {
    footer {
        padding: 60px 0;
    }
}

@media (max-width:340px) {
    footer {
        padding: 40px 0;
    }

    .footer_left span {
        display: flex;
        flex-flow: column;
    }
}